@import url('https://fonts.googleapis.com/css?family=Montserrat|Satisfy&display=swap');
;

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 60%;
}

.App {
  font-size: 125%;
  text-align: center;
  width: 100%;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 2.6rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}


.app-header {
  border:1px solid black;
  background-image: url(./assets/markus-spiske-368800-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: yellow;
  position: relative;
}

.App h1 {
  font-family: 'Satisfy', cursive;
  text-transform: lowercase;
  color: white;
  font-size: 10rem;
  padding: 15px 25px;

}

.App h4 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0;
}

.header-form {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 80%;
  height: 50px;
  background-color:black; 
  outline: none;
  font-family: 'Montserrat', sans-serif;
  border: none;

}

::placeholder{
  color: white;
}

input[type="text"] {
  font-size: 1.2rem;
  /* color: white; */
}



textarea:focus,
input:focus {
  color: white;
}

button {
  height: 45px;
  outline: none;
  border-radius: 7px;
  font-size: 1rem;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;

}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  background-color:#152224;
  color: white;
}

.recipeBook {
  width: calc(50% - 70px);
  margin: 35px;
  border: 10px solid #D30D6E;
}

.recipeCard {
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0;

}

.recipeCard li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipeBook a{
  color: white;
}

.recipeBook a:hover{
  color: #3D824F;
}


@media (max-width: 992px) {
  .App h1 {
    left: 55%;
  }
  
} 

@media (max-width: 680px) {
  .App h1 {
    font-size: 8rem;
  }

  .flexContainer {
    flex-direction: column;
  }

  .recipeBook {
    width: initial;
  }

}

@media (max-width: 490px) {
  .App h1 {
    font-size: 6.5rem;
  }

}

@media (max-width: 400px) {

  .App h1 {
    font-size: 4rem;
    left: 25%;
    top: 71%;
  }  

  .App h4 {
    left: 7%;
    top: 86%;
  }

  input {
    top: 63%;
    left: 21%;
    right: 50%;
    width: 64%;
  }

  button {
    top: 63%;
    left: 73%;
    width: 15%;
  }

}

@media (max-width: 320px) {

  .App h1 {
    font-size: 4rem;
    left: 18%;
  }
}  



  
